
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background-color: rgb(29, 28, 28);
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;

        }
        body.modal-active{
            overflow: hidden;
        }
        body::-webkit-scrollbar{
            display: none;
        }

        

        /* This is for nav bar */

        .nav{
            position: fixed;
            top: 0;
            display: flex;
            background-color: black;
            height: 101px;
            width: 100%;
            justify-content: center;
            z-index: 3;

        }
        .container{
            /* background-color: aqua; */
            width: 100%;
            /* display: none; */
            
          
        }

        /* This is for nav bar items */


        ul {
            list-style-type: none;
            margin: 18px auto;
            padding: 0;
            /* overflow: hidden; */
        }
        li{
            float: left;
            margin: 5px;
            margin-top: 8px;
        }   
        li .a1{
            display: block;
            padding: 8px;
            
        }

        /* This is for  menu logo */

        .menuic{
            margin-top: 4px;
            margin-left: 20px;
            margin-right: -5px;
        }
        #menua1{
            display: none;
        }

        /* This is for company logo  */

        .logoic{
            margin-top: -2px;
            margin-left: -1px;
        }

        /* This is for search area */

        .searchic{
            background-color: #1a1a1a;
            color: white;
            width: 311px;
            height: 23px;
            margin-left: -15px;
            margin-top: 5px;
            border-radius: 9px;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            align-content: space-around;
            text-align: center;
            font-weight: 700;
            
        }
        .searchic1{
            color: #777b8a;
        }

        .searchic:hover .searchic1{
            color:white;
        }

        /* This is for Time */

        .ta1{
            color: white;
            margin-top: 7px;
            font-size: 13px;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
        }

        /* This is for right side nav items */

        .b1{
            margin-right: 40px;
        }

        .b2{
            float: right;
            margin: 5px;
            margin-top: 8px;
        }   
        .b3{
            display: block;
            padding: 8px;
            width: 15px;
            
        }

        /* This is for fight side buttons button */

        .lg{
            width: 100%;      
            height: 41px;    
            border-radius: 15px; 
            border-style: none; 
            color: #fbd245;
            background-color: #1a1a1a;
            /* font-weight: bolder; */
            font-size: 12px;

        }

        /* This is for register button */

        .register{    
            border:1px solid #fbd245; 
        }
        .lg:hover, .register:hover{
            background-color: #fbd245;
            color: black;
            /* font-weight: bolder;s */

        }
        .rb3{
            margin-right: 22px; 
            margin-top: 4px;
            height: 40px;
            font-weight: 500;
        }

        .registerbody{
            z-index: 1;
            position: fixed;
            top: 130px;
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.85);           
            width: 100%;
            height:88vh;
            margin-top: -30px;
        }
        .registermain{ 
            
            overflow: auto;            
            z-index: 2;
            background-color: rgb(27, 27, 27);
            position: relative;
            margin-top: 2px;
            margin-bottom: 25vh;
            width: 30vw;
            height: 100vh;
            border-radius: 15px;
            border: 1px solid #777b8a;
            
        }

       
       
        .registermain::-webkit-scrollbar{
            display: none;
        }
        .registerimg1{
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .rgstercls{
            display: flex;
            position: absolute;
            
            right:4%;
            top: 2%;
            color: white;
            
        }

        .registerdtls{
            position: relative;
            display: flex;
            justify-content: center;
            color: white;
        }
        .registerdtls > p{
            font-size: 1.2vw;
            margin-top: 2px;
            font-weight: 400;
        }
        .registerform{
            width: 100%;
            margin-top: 30px;
            height: auto;
        }
        .rgstrform1{
            
            color: white;
            font-size: small;
            font-weight: 200;
        }
        .rgstrform1 > input{
            width: 80%;
            height: 6vh;
            margin: 6px;
            margin-left: 8%;
            border-radius: 7px;
            border-style: none;
            padding-left: 8px;

        }
        #rgstrcode{
            width: 4vw;
        }
        #rgstrmobile{
            width: 16.2vw;
            margin-bottom: 6%;
        }
        .rgstrform1 >label{
            margin-left:8%;
            margin-bottom: -2px;
        }
        .rgstrinfo{
            display: flex;
            align-items: center;
            margin-left: 8.5%;
            margin-bottom: 20px;
            color: rgb(201, 199, 199);
            width: 80%;
            padding-left: 10px;
            height: 6vh;
            border-radius: 6px;
            background-color:rgb(0, 0, 0);
        }

        #rgstrsubmt{
            background-color: #bd9820;
            width: 60%;
            height: 8vh;
            margin-left: 6vw;
            margin-top: 20px;
        }
        #rgstrsubmt:hover{
            box-shadow: 2px 2px 15px #bd9820, -2px -2px 15px 5px #bd9820;
        }
        .rgstrdesc{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 8px;
            color: #777b8a;
            font-size: smaller;
        }
        .rgstrtandc{
            text-decoration: none;
            color: powderblue;
        }
        .rgsterlgin{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
            color: white;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 30vh;
        }
        .rgsterlgin > p > a{
            
            color: powderblue;
            font-size: 1.2vw;
        }
         @media only screen and (max-width:900px){
            .registermain{
                width: 50vw;
            }
            .registerdtls > p{
                font-size: 2vw;
                
            }
            .rgstrform1 > input{
                width: 42vw;
                height: 4.5vw;
                margin: 1vw;
                margin-left: 8%;
                padding-left: 8px;

            }
            #rgstrcode{
                width: 8vw;
            }
            #rgstrmobile{
                width:  27.5vw;
            }
            #rgstrsubmt{
                margin-left: 10vw;
            }
            .rgstrdesc{
                margin-left: 10px;
            }
            .rgsterlgin > p > a{
                font-size: 2vw;
            }
            
        }
         @media only screen and (max-width:500px){
            .registermain{
                width: 90vw;
            }
            .registerdtls > p{
                font-size: 4vw;
                
            }
            .rgstrform1 > input{
                width: 72vw;
                height: 6.5vw;
                margin: 1vw;
                margin-left: 8%;
                padding-left: 8px;

            }
            #rgstrcode{
                width: 10vw;
            }
            #rgstrmobile{
                width:  50vw;
            }
            #rgstrsubmt{
                margin-left: 15vw;
            }
            .rgstrdesc{
                margin-left: 10px;
            }
            .rgsterlgin > p > a{
                font-size: 2vw;
            }
            .rgstrform1 >label{
                font-size: 3.5vw;
            }
            .rgstrinfo{
                font-size: 3.5vw;
                height: 9vw;
            }
            
        }
        /* login form */
        .loginbody{
            display: flex;
            z-index: 1;
            justify-content: center;
            position: fixed;
            top: 100px;
            background-color: black;
            background-color: rgba(0, 0, 0, 0.85);
            height: 95vh;
            width: 100%;
            overflow: auto;
            /* z-index: 2; */
        }
        .loginbody::-webkit-scrollbar{
            display: none;
        }
        .loginmain{
            position: relative;
            background-color: rgb(28, 28, 29);
            z-index: 2;
            /* opacity: 1; */
            width: 30vw;
            margin-top: 1%;
            height: 90vh;
            border: 1px solid #777b8a;
            border-radius: 15px;
            margin-bottom: 20vh;
            /* overflow: auto; */
        }
        .loginimg1{
            z-index: 3;
            opacity: 1;
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }
        .logindtls{
            display: flex;
            justify-content: center;
            color: white;
        }
        .loginform{
            width: 100%;
            position: relative;
            margin-top: 20px;
            color: white;
            font-size: small;
            font-weight: 200;
            
        }
        .loginform1 > input{
            border-style: none;
            width: 80%;
            margin-left: 8%;
            margin-top: 1%;
            margin-bottom: 8%;
            height: 6.5vh;
            border-radius: 10px;
            padding-left: 3%;
        }
        .loginform1 > label{
            margin-left: 8%;
        }
        .lginforgotpsswrd{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 1%;
        }
        .lginforgotpsswrd>p>a{
            color: powderblue
        }
        #loginsubmt{
            width: 60%;
            margin-left: 19%;
            height: 8.5vh;
            background-color: #dfb42a;
        }
        .logindesc{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: -2%;

        }
        .loginotp{
            /* margin-left: 37%; */
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
        .lginrgstr{
            display: flex;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 10px;
            /* margin-left: 8%; */
        }
        .lginrgstr > p > a{
            font-size: 1.5vw;
            color: powderblue;
        }
        /* login form end */

    @media only screen and (max-width: 680px){
        .loginmain{
            width: 70vw;
            height: 125vw;
        }
        .lginrgstr > p > a{
            font-size: 3.5vw;
            color: powderblue;
        }
    }
    
    @media only screen and (max-width: 300px){
        .loginmain{
            width: 90vw;
            height: 195vw;
        }
        .lginrgstr > p > a{
            font-size: 6.5vw;
            color: powderblue;
        }
        .rgsterlgin > p > a{
            
            color: powderblue;
            font-size: 6.2vw;
        }
    }
    @media only screen and (max-width: 236px){
        .loginbody{
            margin-top: 40vw;
        }
        .registerbody{
            margin-top: 40vw;
        }
        .registermain{
            height: 250px;
        }
        .loginmain{
            height: 205vw;
        }
        .lginrgstr > p > a{
            font-size: 6.5vw;
            color: powderblue;
        }
        .rgsterlgin > p > a{
            
            color: powderblue;
            font-size: 6.2vw;
        }
        #loginsubmt{
            width: 80%;
            margin-left: 8%;
        }
        
    }

        /* end */

        /* This is for login button */

        .lb3{
            margin-right: 28px;
            margin-top: 4px;
            height: 40px;
            
        }

        /* This is for message icon */

        .msgb3{
            margin-right: -12px;
            margin-top: -4px;
        }

        /* This is for resopnsiveness */

        @media only screen and (max-width: 963px){
            .b1{
                display:none;
            }
        }
        @media only screen and (max-width: 650px){
            #timediv{
                display:none;
            }
        }
        @media only screen and (max-width: 670px){
            .search{
                display:none;
            }
            #timediv{
                display: block;

            }
        }
        @media only screen and (max-width: 320px){
            #timediv{
                display: none;

            }
            
        }
        @media only screen and (max-width: 236px){
            .logoic1{
                float: left;
            }
            #menua{
                display: none;
            }
            #menua1{
                width: 100%;
                background-color: #1a1a1a;
                display: block;
                margin-top: 20px;
                
            }
            #menua1li{
                margin-left: 0px;
                width: 100%;
                height: 70px;
                background-color: #1a1a1a;
            }
            .ta1{
                display: none;
            }
            
        }

        /* This is for right side logo button modal. */

        .menumodal{
            position: fixed ;
            top: 0;
            left: 0;
            background-color: #1a1a1a;
            width: 40vw;
            height: 100%;
            margin-top: 0px;
            z-index: 4;
            border-radius: 30px;
            display: none;
        }
        .menumodal1{
            position: fixed ;
            top: 0;
            left: 0;
            background-color: #1a1a1a;
            width: 40vw;
            height: 100%;
            margin-top: 0px;
            z-index: 4;
            border-radius: 30px;
            display: none;
        }
        
        
        .modallogo{
            width: 25vw;
            padding: 25px;
        }
        .modallogo2{
            width: 25vw;
            padding: 25px;
        }
        .loginmodal{
            width: 12vw;
            font-size: 1vw;
        }
        .registermodal{
            width: 12vw;
            font-size: 1vw;
        }
        .modallist{
            font-size: 1.2vw;
        }

        .b5{
            display: block;
            
        }
        .b5 li{
            width: 100%;
            margin-top: 20px;
            margin-left: 50px;
            color: #777b8a;
        }
        .b5 li:hover{
            color: #fbd245;
            cursor: pointer;
        }
        .modalclose{
           
            color:#be2734; 
            float:right;
            margin-top: 15px;
            margin-right:15px;
            cursor: pointer;
        }
        .modalclose1{
           
            color:#be2734; 
            float:right;
            margin-top: 15px;
            margin-right:15px;
            cursor: pointer;
        }
        .modalhelpa{
            text-decoration: none;
            color: #777b8a;
        }
        .modalhelpa:hover{
            color: #fbd245;
        }

        @media only screen and (max-width:800px){
            .modallogo{
            width: 15vw;
            padding: 25px;
            }
            .modallogo2{
            width: 15vw;
            padding: 25px;
            }
            .loginmodal{
                width: 10vw;
                font-size: 1.5vw;
            }
            .registermodal{
                width: 15vw;
                font-size: 1.5vw;
            }
            .modallist{
                font-size: 1.6vw;
            }
            .menumodal{
                width: 50vw;
            }
            .menumodal1{
                width: 50vw;
            }
        }
        @media only screen and (max-width:600px){
            .modallogo{
            width: 15vw;
            padding: 25px;
            }
            .modallogo2{
            width: 15vw;
            padding: 25px;
            }
            .loginmodal{
                width: 13vw;
                font-size: 2vw;
            }
            .registermodal{
                width: 18vw;
                font-size: 2vw;
            }
            .modallist{
                font-size: 2vw;
            }
            .menumodal{
                width: 60vw;
            }
            .menumodal1{
                width: 60vw;
            }
        }
        @media only screen and (max-width: 400px){
            .menumodal{
                width: 80vw;
            }
            .menumodal1{
                width: 80vw;
            }
            .modallogo{
            width: 25vw;
            padding: 25px;
            }
            .modallogo2{
            width: 25vw;
            padding: 25px;
            }
            .loginmodal{
                width: 13vw;
                font-size: 3vw;
            }
            .registermodal{
                width: 20vw;
                font-size: 3vw;
            }
            .modallist{
                font-size: 3.9vw;
            }
        }
        @media only screen and (max-width: 260px){
            .menumodal{
                width: 100vw;
            }
            .menumodal1{
                width: 100vw;
            }
            .modallogo{
            width: 35vw;
            padding: 25px;
            }
            .modallogo2{
            width: 35vw;
            padding: 25px;
            }
            .loginmodal{
                width: 25vw;
                font-size: 5vw;
            }
            .registermodal{
                width: 30vw;
                font-size: 4vw;
            }
            .modallist{
                font-size: 4.9vw;
            }
        }

/* This is for announcement */
    .announcement1{
        
        margin-top: 105px;
    }

    @media only screen and (max-width: 236px){
        .announcement1{
            margin-top: 80vw;
        }
    }
   
/* end */

/* This is for home slider  Banner*/

.homeslider{
    display: flex;    
    
}


.hsliderimg{
    
    overflow: hidden;
    position: relative;  
    width: 100%;
    height: 40vw;
    margin-left: 40px;
    right: 8px;
    top: 0px;
   
}
.himages1{
    transition: opacity 1.5s ease-in-out;   
    width: 98%;
    height: 100%;
    position: absolute;
    transition: 1s; 
    opacity: 0;
}
.active {
    opacity: 1;
}

/* end */

/* This is for home banner navigation buttons */

.bannerbutton{
    display: flex;
    justify-content: center;
    border-style: none; 
    width: 100%;
    height: auto;
}
.homebannerbtn{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white; 
    width: 0.6vw; 
    height: 0.4vw; 
    border-style: none; 
    border-radius: 15px;
    
}

.homebannerbtnActive{
    background-color: #fbd245;
}

/* end */

/* This is for Img GIF */
.imgGif{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-style: none; 
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.imgGif > img{
    width: 15%;
    
}
.gifclass{
    border-style: 5px solid;
    border-radius: 15px;
    border-color: #323333 #fbd245 #1a1a1a #fbd245;

}

@media only screen and (max-width : 600px){
    .imgGif{
        flex-wrap: wrap;
    }
    .imgGif > img{
        width: 30%;
        margin-top: 10px;
    }
}

/* end */

/* This is for more product slider */

.slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    margin-left: 20px;
    margin-right: 20px;
    
    
    
}

.slider img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 14.9%; /* Adjust as needed */
    height: 5%; /* Adjust as needed */
    margin-top: 30px;
    margin-left: 2%;
    transition: 1s ;
}

.slidebar{
    position: relative;
    width: auto;
    height: auto;
    top: -30px;
    margin-bottom: -30px;
}

.slideheading1{
   
    color: white;
    font-size: 1.9vw;
    margin-top: 30px;
    /* margin-bottom:-5px; */
    padding: 20px;
    
}
.slideheading1 > span{
    position: relative;
    top: 20px;
}
.slidearrow{
    color: white;
    width: 30px;
    height: 10px;
}

.arrowrighth2{
    position: relative;
    font-size: 2.5vw;
    bottom: 0px;
    margin-top: 5px;
    
}
 /* arrow button  */
.arrownextbtn{
    color: #fbd245;
    float:right;
    margin-top: -3vw;
    margin-right: 3vw;
    box-sizing: border-box;
    
}
.arrowprevbtn{
    color: #fbd245;
    float:right;
    margin-top: -3vw;
    margin-right: 8vw;
}
.arrownextbtn:hover, .arrowprevbtn:hover{
    color:white;
}

@media only screen and (max-width: 600px){
    .slider img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 31.5%; /* Adjust as needed */
    height: 5%; /* Adjust as needed */
    margin-top: 30px;
    margin-left: 2%;
    transition: 1s ;
}

 .arrowrighth2{
    position: relative;
    font-size: 5vw;
    bottom: 0px;
    margin-top: -5vw;
    
    }
    .arrowrightprev{
        margin-right: 10vw;
    }

    .slideheading1{
        font-size: 3vw;
        
    }
    .slideheading{
        position: relative;
        margin-bottom: 180vw;
    }
}
@media only screen and (max-width: 333px){
    .slider{
        width: 90%;
    }
    .slider img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 31.5%; /* Adjust as needed */
    height: 5%; /* Adjust as needed */
    margin-top: 30px;
    margin-left: 2%;
    transition: 1s ;
}

    .arrowrighth2{
    position: relative;
    font-size: 10vw;
    bottom: 0px;
    margin-top: -5vw;
    }
    .slideheading1{
        font-size: 5vw;
    }
}
/* slider end */

/* This is for providers section */
.providers{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.providerheading{
    color: white;
    font-size: 2.1vw;
    margin-top: -2vw;
    margin-left: 20px;
    margin-bottom: 20px;
}

.providerlogo{

    display: flex;
    float: left;
    width: 100%;
    height: auto;
    justify-content: center;
    justify-content: space-around;
   
}
.providerlogo > img{
    margin-top: 20px;
    width: 4%;
    border: 1px solid #fbd245;
    padding: 1vw 8vw;
    cursor: pointer;
    /* margin: 20px auto; */

}

@media only screen and (max-width:600px){
    .providerheading{
    font-size: 3vw;
    margin-top: -2vw;
    margin-bottom: 2vw;
    }
    .providerlogo{
        flex-wrap: wrap;    
    }
    .providerlogo > img{
        margin-top: 20px;
        width: 8vw;
        border: 1px solid #fbd245;
        padding: 1vw 8vw;
        cursor: pointer;
        margin-left: 12vw;
        /* margin: 20px auto; */

    }
}

/* end */

/* This is for footer  */

.lastimg{
    position: relative;
        width: 93%;
        margin-top: 140px;
}

.lastimg > img{
    width: 100%;
    margin-left: 4%;
}

.socialLinks{
    position: relative;
    width: 100%;
    margin-top: -10px;
    
}

.companylogo > img{
    display: inline;
    float: left;
    margin-left: 40px;
    width: 15%;
}



.slinksul {

    position: relative;
    list-style-type: none;
    margin-right: 40px;
}

.slinksli {
    float: right;

}

.slinksli > img{
    width: 2vw;
    cursor: pointer;
    
}

.footerhr{
    
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    border-bottom: 1px solid #323333 ;

}

@media only screen and (max-width: 600px){
    .companylogo > img{
        width: 25vw;
    }
    .slinksli > img{
        width: 3.5vw;
    }
}
@media only screen and (max-width: 260px){
    .companylogo > img{
        width: 45vw;
    }
    .slinksli > img{
        
        width: 6.5vw;
    }
    .slinks {
        margin-top: 6vw;
        
    }
    .slinksul{
        margin-top: 1vw;
        display: flex;
        float: left;
        margin-left: 15vw;
        /* flex-flow: row nowrap; */

    }
    .slinksli{
        float: none;
    }
}


/* end */

/* Footer content starts */

.footercontent{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.footercontentul{
    display: flex;
    list-style-type: none;
}

.footercontentli{
    color: gray;
    float: left;
    margin-left: 40px;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.footercontentli:hover{
    color: #fbd245;
    cursor: pointer;
}

.policydescription{
    position: relative;
    display: flex;
    justify-content: center;
    color: gray;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.policydescription > p{
    font-size: 0.75vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 600px){
    .footercontentli{
        font-size: 2.5vw;
    }
    .policydescription > p{
        font-size: 1.8vw;
        margin-left: 5vw;
        margin-right: 5vw;
    
    }
}

/* end */

/* From here help icon section starts */

/* This is for backbutton */
.backbutton{
    /* z-index: 2; */
    position: inline;
    display: flex;  
    margin-top: 102px;
    
    
}
.bckarrowbtn{
    position: relative;
    display: flex;    
    margin-left: 30px;
    font-size: 3vw;
    font-weight: 200;
    color: #777b8a;
    /* margin-top: 20px; */
    
}

.bckarrowbtnicon{
    float: left;
    width: 100%;
    margin-left: -10px;
    margin-top: 3px;
    cursor: pointer;    
}

.bckarrowbtntext{
    float: left;
    font-size: 40%;
    color: white;
    width: 100%;
    margin-top: 1.25vw;
    margin-left: 0px;
}

.helpclosebutton{
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
}
.bckcrossbtn{
    display: flex;   
    color: #777b8a;
    margin-right: 30px;
    font-size: 3vw;
    margin-top: 3px;
    cursor: pointer;    
}

/* end */

/* This is help slogan */
.helpslogan{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    color: #9ea2ad;
    font-size: 1.3vw;
}

/* end */

/* This is help links */
.helplinks{
    width: 100%;
}
.helplinksul{
    list-style-type: none;
    display: block;
    width: 100%;
    margin-top: -10px;
}
.helplinksli{
    display: flex;
    width: 95%;
    border-bottom:0.5px solid rgb(82, 80, 80);
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
.helplinksli >img{
    width: 3.5vw;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hlpsociallink{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95vw;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    width: 10vw;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;

    background-color: #e2b933;
}
.hlpsociallink:hover {
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 20px 2px #fbd245, -1px -1px 20px 1px #fbd245;   
}

.asendmail{
    text-decoration: none;
    color: black;
}
.asendmail:hover{
    color:white;
}

@media only screen and (max-width:1000px){
    .bckarrowbtntext{
        font-size: 2vw;
    }
    .bckarrowbtnicon{
        /* width: 10vw; */
        font-size: 4vw;
    }
    .bckcrossbtn{
        font-size: 4vw;
    }
    .helpslogan{
        font-size: 1.5vw;
    }
    .helplinksli >img{
        width: 5vw;
    }
    .hlpsociallink{
    font-size: 1.4vw;
    font-weight: 500;
    color: black;
    width: 15vw;
    padding: 1vw 0vw;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #e2b933;
    }
}
@media only screen and (max-width:600px){
    .bckarrowbtntext{
        font-size: 3vw;
    }
    .bckarrowbtnicon{
        /* width: 10vw; */
        font-size: 5.6vw;
    }
    .bckcrossbtn{
        font-size: 5.6vw;
    }
    .helpslogan{
        font-size: 2.5vw;
    }
    .helplinksli >img{
        width: 8vw;
    }
    .hlpsociallink{
    font-size: 2.2vw;
    font-weight: 500;
    color: black;
    width: 15vw;
    padding: 2vw 3vw;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #e2b933;
    }
}
/* help page end */